<div class="jumbotron">
    <h1 class="display-3">Wellcome to Clapton Store!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>
        <a asp-controller="Account" asp-action="Login">Login</a> if you have an account or <a asp-controller="Account" asp-action="Register">Register</a> now.
    </p>
</div>